:root {
  --clockColor: #00ccff;
  --white: #fff;
  --black: #000;
  --small: 1rem;
  --medium: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: fantasy;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: -webkit-radial-gradient(circle, #396362, var(--black));
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #time {
  margin-bottom: 60px;
  font-size: var(--medium);
  text-align: center;
}

.main span {
  margin-bottom: var(--medium);
  font-size: var(--medium);
  color: var(--white);
}

.main #setAlarm {
  background-color: var(--clockColor);
  border: none;
  padding: 10px 20px;
  color: var(--white);
  font-size: 2em;
  border-radius: 20px;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  display: block;
}

.main #setAlarm::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 40px;
  height: 10px;
  background-color: var(--clockColor);
}

.main #setAlarm.active {
  background-color: var(--clockColor);
  border: none;
  padding: 10px 20px;
  color: var(--white);
  font-size: 2em;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
}

.main #setAlarm.active::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 40px;
  height: 50px;
  background-color: var(--clockColor);
}

.main .clock {
  width: 300px;
  height: 300px;
  border: 30px solid var(--clockColor);
  border-radius: 50%;
  color: var(--black);
  background: transparent;
  font-size: 5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .clock::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 40px;
  height: 60px;
  background-color: var(--clockColor);
}

.main .clock::after {
  content: "";
  position: absolute;
  bottom: -60px;
  right: 60px;
  width: 40px;
  height: 60px;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  background-color: var(--clockColor);
}

.main .clock .vz-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--white);
  -webkit-box-shadow: inset 0 0 100px 0 var(--black);
          box-shadow: inset 0 0 100px 0 var(--black);
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .clock .vz-wrapper #myCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .clock .vz-wrapper .displayTime {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.main .uploadedMusic {
  margin-top: 100px;
  color: var(--white);
  font-size: var(--small);
}

@media screen and (min-width: 420px) {
  .vz-wrapper {
    -webkit-box-shadow: inset 0 0 200px 60px var(--black);
            box-shadow: inset 0 0 200px 60px var(--black);
  }
}
/*# sourceMappingURL=style.css.map */